:root {
    --color-primary: #000; /*#4608ad;*/
    --color-primary-darken: #000; /*#32067c;*/
    --color-primary-lighten: #f4f1fa;
    --color-secondary: #fafafa;
    --color-secondary-darken: #e0e0e0;
    --color-text: #4a4a4a;
    --color-text-lighten: #7a7a7a;
    --color-text-dark: var(--color-primary-lighten);
    --color-success: #50b154;
    --color-error: #ff5252;
}
  
* {
    box-sizing: border-box;
    scrollbar-width: none;
}

body {
    color: var(--color-text);
    font-family: Helvetica, Arial, sans-serif;
    /* font-size: .9rem; */
    line-height: 1.5rem;
    margin: 0;
}

.background {
    background: white;
    overflow: hidden;
}

.empty {
    height: calc(100% - 4.5rem);
    text-align: center;
    margin: 2.5rem 0 3.5rem 0;
}

.empty__text {
    margin-bottom: 1.5rem;
}
.empty__text__footer {
    margin-top: 1.5rem;
}

.ttt-game {
    display: flex;
    align-items: center;
    margin: auto;
    width: 19rem; /*13rem;*/
}

.ttt-player-icon {
    color: var(--color-primary);
    width: 1.2rem;
    height: 1.2rem;
}

.ttt-player-icon--hidden {
    display: none;
}

.ttt-score {
}

.ttt-grid {
    background: var(--color-primary-lighten);
    border-radius: 4px;
    line-height: 0;
    margin: auto;
    width: 15rem; /*6rem;*/
}

.ttt-cell {
    border: 1px solid var(--color-primary);
    border-width: 1px 0 0 1px;
    display: inline-block;
    padding: .2rem;
    width: 5rem; /*2rem;*/
    height: 5rem; /*2rem;*/
}

.ttt-row:first-child .ttt-cell {
    border-top: none;
}

.ttt-cell:first-child {
    border-left: none;
}

.ttt-icon {
    display: none;
    height: 100%;
    width: 100%;
}

.ttt-cell .ttt-icon {
    color: var(--color-primary);
    display: block;
}

.ttt-blink .ttt-icon {
    animation: blink 250ms step-end 0s 3;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}